@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  /* Styling untuk scrollbar */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ef4444 #111827; /* thumb color track color */
}

/* Webkit (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #111827; /* Warna track scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #ef4444; /* Warna thumb scrollbar */
  border-radius: 10px;
  border: 2px solid #111827;
}
